*{ 
   font-family: arial;
   -webkit-touch-callout:none;
   -webkit-user-select:none;
  }


body { /*background-image: url(../_imgs/bgs/bg02.jpg);*/
   font-family: arial;

  }

.cf{
display: block;
position: relative;
clear: both; 
top: 2em;
}



/*APP PRINCIPAL*//*APP PRINCIPAL*//*APP PRINCIPAL*//*APP PRINCIPAL*//*APP PRINCIPAL*//*APP PRINCIPAL*//*APP PRINCIPAL*/
#AppFruitStore{ }
.app-fruits-store{ 
	border: 4px #ccff00 solid;
    width: 640 px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
	 }



/*FILTRO DE BUSQUEDA*//*FILTRO DE BUSQUEDA*//*FILTRO DE BUSQUEDA*//*FILTRO DE BUSQUEDA*//*FILTRO DE BUSQUEDA*//*FILTRO DE BUSQUEDA*/
.holder-filter-info{ 
border: 4px orange solid; 
}
.filter-fruits {
font-size: 1.3em; /*fuente monoespaciada*/
padding: 4px;
display: block;
margin: 4px auto;
text-align: center;
border-radius: 4px;
border:2px solid orange;
width: 40%;
transition: width 0.35s ease-in-out, border 0.35s ease-in-out;
  }
/*seudoclase*/
 .filter-fruits:focus {
outline: none;
border: 2px solid #00be07;
width: 60%;
 }

/*LISTA DE PRODUCTOS*//*LISTA DE PRODUCTOS*//*LISTA DE PRODUCTOS*//*LISTA DE PRODUCTOS*//*LISTA DE PRODUCTOS*//*LISTA DE PRODUCTOS*/
.holder-products-list{
border: 4px red solid;
width: 48%;
height: 93vh;
overflow-y: auto;
float: left;
  }



.fruit-card{
width: 80%;
height: auto;
padding: 10px 20px 20px 20px;
margin: 8px auto;
box-shadow: 0 2px 4px #8f7c6f;
border-radius: 4px;
background-color: white;
 }
 /*regla de estilo desendente-img*/
 .fruit-card img{
width: 75%;
height: auto;
margin: 0 auto;
display: block;
border-radius: 50%;
border: 16px solid orange;
 }
 .fruit-card h2{
font-weight: normal;
text-align: center;
color: green;
margin: 0.5em auto;
 }
 .fruit-card p.description{
font-family: arial;
text-align: center;
color: red;
margin: 0.5em auto;
 }
.fruit-card p.price{
text-align: center;
font-size: 24px;
color: brown;
margin: 0.5em auto;
 }

 .fruit-card span{
font-family: arial;
background-color: #faf2eb;
color: #3e0f0f;
font-size: 28px;
display: block;
width: 90%;
padding: 16px;
margin: 0 auto;
text-align: center;
text-transform: uppercase; /*convierte en mayusculas*/
cursor: pointer;/*aparecera un cursor*/
border-radius: 4px;
transition: background-color 0.35s ease-in-out;
 }
/*seudoclase*/
  .fruit-card span:hover{
background-color: #00be97;
color: white;
 }



/*CARRITO DE COMPRAS*//*CARRITO DE COMPRAS*//*CARRITO DE COMPRAS*//*CARRITO DE COMPRAS*//*CARRITO DE COMPRAS*//*CARRITO DE COMPRAS*/
.holder-products-cart{ 
border: 4px green solid;
/*background-color: orange;*/
width: 48%;
height: 93vh;
overflow-y: auto;
float: right;
 }


/*TOTAL DE LA COMPRA*//*TOTAL DE LA COMPRA*//*TOTAL DE LA COMPRA*//*TOTAL DE LA COMPRA*//*TOTAL DE LA COMPRA*//*TOTAL DE LA COMPRA*//*TOTAL DE LA COMPRA*/
#totalProducts{}
.holder-products-cart .total-products{ 
background-color: lightgray; 
padding: 20px;
text-align: center;

 }

 #productsCart{}
.holder-products-cart .products-cart{ 
background-color: white; 
 }


.holder-products-cart .total-products h3{
font-size: 24px;
margin: 0 0 16px 0;
text-align: center;
 	}

.holder-products-cart .total-products span{
font-size: 24px;
 	}

/*Selector agrupado de SPAN*/
.holder-products-cart .total-products .total-fruits,
.holder-products-cart .total-products .total-items,
.holder-products-cart .total-products .total-price{
	background-color: #faf2eb;
	margin: 8px auto;
	padding: 8px;
	border-radius: 4px;
	display: block;
}

/*seudoclases para poner texto antes y despues de texto en HTML*/
.holder-products-cart .total-products span.total-fruits{}
.holder-products-cart .total-products span.total-fruits:after{content: " Frutas";}
.holder-products-cart .total-products span.total-items {}
.holder-products-cart .total-products span.total-items:after{content: " Piezas";}
.holder-products-cart .total-products span.total-price {}
.holder-products-cart .total-products span.total-price:before{content: "Total $";}


/*BOTON COMPRAR*/
.holder-products-cart .total-products span.total-payment{ 
	color: purple;
    display: block;
    background-color: black;
    color: white;
    border-radius: 4px;
    margin: 8px auto;
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.35s ease-in-out;
    /*text-transform: lowercase;Ayuda a convertir en minusculas*/
    
	 }
.holder-products-cart .total-products span.total-payment:hover{ 
	
    display: block;
    background-color: gray;
    color: black;
    border-radius: 4px;
    margin: 8px auto;
	 }

/*PRODUCTOS AGREGADOS*//*PRODUCTOS AGREGADOS*//*PRODUCTOS AGREGADOS*//*PRODUCTOS AGREGADOS*//*PRODUCTOS AGREGADOS*//*PRODUCTOS AGREGADOS*/
#productsCart  {}
.holder-products-cart .products-cart {
	/*background-color: lightgreen;*/
}

.holder-products-cart .products-cart .cart-card{
	box-shadow: 0 2px 4px #8f7c6f;
	border-radius: 8px;
	padding: 8px;
	margin: 24px;
	width: 90%;
	position: relative;
   /*ANIMACION DE TARJETA*/
   animation: fruits-car-animation 0.35s ease-in-out;
}



.holder-products-cart .cart-card img{
	width: 80px;
	height: auto;
	padding: 6px;
	margin: 6px;
}

.holder-products-cart .cart-card span{
	padding: 4px;
	margin: 4px;
	font-size: 2em;
}

.holder-products-cart .cart-card .name {
	position: absolute;
	font-weight: bold;
	left: 6em;
	top: 2em;
	font-size: 1.3em;
}
.holder-products-cart .cart-card .price {
	position: absolute;
	display: inline-block;
	left: 6em;
	top: 3.5em;
	font-size: 1.3em;
}
.holder-products-cart .cart-card .price:before {
	content: "Precio $"
}


.holder-products-cart .cart-card .cout {
	display: inline-block;
	width: 42%;
	font-size: 1.2em;
	text-align: center;
}
.holder-products-cart .cart-card .cout:after {
	content: " Pzs"
}
.holder-products-cart .cart-card .total {
	display: inline-block;
	text-align: center;
	width: 42%;
	font-size: 1.2em;
	
}
.holder-products-cart .cart-card .total:before {
	content: "Monto $"
}
.holder-products-cart .cart-card span.min,
.holder-products-cart .cart-card span.add,
.holder-products-cart .cart-card span#del {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	border-radius: 4px;
	color: white;
}

.holder-products-cart .cart-card span.min {
	width: 40%;
	float: left;
	background-color: #be0024;
	border-radius: 2px solid white;
}
.holder-products-cart .cart-card span.add{
	width: 40%;
	float: right;
	background-color: #00be97;
	border-radius: 2px solid black;
}
.holder-products-cart .cart-card span#del{
	display: block;
	font-weight: bold;
	background-color:lightgray;
	color: crimson;
	font-size: 22px;
	border-radius: 2px solid red;
}

/*NOTIFICACIONES*//*NOTIFICACIONES*//*NOTIFICACIONES*//*NOTIFICACIONES*//*NOTIFICACIONES*//*NOTIFICACIONES*//*NOTIFICACIONES*/
.holder-notificationst{ 
border: 8px black solid;
background-color: pink;
 }


/*NOTIFICACION AGREGAR*/
.notificacion-agregar{
    display: none;
    position: relative;
    width: 350px;
    height: 60px;
    margin-bottom: 5px;
    background-color: lightgreen;
    padding: 15px;
    border: 1px solid green);
    box-sizing: border-box;
    overflow: hidden; 
    border-radius: 25px 25px 25px 0;
    box-shadow: 9px 5px 7px 0 rgba(0,0,0,0.3);
    
  animation-name: animation-agregar;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  opacity:2;
  animation-delay:0s;
}
.mensaje-agregar{
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 17px;
}

}

@keyframes animation-agregar{
  0%   {margin-left: -500px; opacity:0;}
  100% {margin-left: 0px; opacity:1;}
}


/*NOTIFICACION COMPRAR*/
.notificacion-comprar{
    display: none;
    position: relative;
    width: 300px;
    height: 60px;
    margin-bottom: 5px;
    background-color: lightblue;
    padding: 15px;
    border: 1px solid purple);
    box-sizing: border-box;
    overflow: hidden; 
    border-radius: 25px 25px 25px 0;
    box-shadow: 9px 5px 7px 0 rgba(0,0,0,0.3);
    
  animation-name: animation-comprar;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  opacity:2;
  animation-delay:0s;
}
.mensaje-comprar{
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 17px;
}

}

@keyframes animation-comprar{
  0%   {margin-left: -500px; opacity:0;}
  100% {margin-left: 0px; opacity:1;}
}


/*NOTIFICACION AGREGAR*/
.notificacion-remover{
    display: none;
    position: relative;
    width: 350px;
    height: 60px;
    margin-bottom: 5px;
    background-color: yellow;
    padding: 15px;
    border: 1px solid yellow);
    box-sizing: border-box;
    overflow: hidden; 
    border-radius: 25px 25px 25px 0;
    box-shadow: 9px 5px 7px 0 rgba(0,0,0,0.3);
    
  animation-name: animation-remover;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  opacity:2;
  animation-delay:0s;
}
.mensaje-remover{
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 17px;
}

}

@keyframes animation-remover{
  0%   {margin-left: -500px; opacity:0;}
  100% {margin-left: 0px; opacity:1;}
}
 /*EXTRAS*/
 @keyframes fruits-car-animation { 
  0% {opacity: 0; margin-left: -50%; }
  100% { opacity: 100; margin-left: 0%; }
 }